@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: #fff;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 360px; 
  padding: 20px;
  display: block;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
  font: 14px sans-serif; 
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
/* Sobre la pagina welcome.php */
* {
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.d1 {
  position: absolute;
  background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
  background-size: 2700px 1500px;
  height: 30vh;
  width: 15vw;
  background-position: 0 50%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  animation: dd1 60s 1, dd12 60s 1;
  animation-delay: 4s, 14s;
}
.d2 {
  position: absolute;
  background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
  background-size: 2700px 1500px;
  height: 50vh;
  width: 25vw;
  background-position: -10vw 50%;
  left: 10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 60s 2;
  animation-delay: 4s;
}
.d3 {
  position: absolute;
  background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
  background-size: 2700px 1500px;
  overflow: hidden;
  height: 100vh;
  width: 40vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 60s 2;
  animation-delay: 4s;
}
.d4 {
  position: absolute;
  overflow: hidden;
  background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
  background-size: 2700px 1500px;
  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: -70vw 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 60s 2;
  animation-delay: 4s;
}
@keyframes dd1 {
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  50% {
    background-position: Calc(-40vw) 50%;
  }
}
@keyframes dd2 {
  50% {
    background-position: Calc(-50vw) 50%;
  }
}
@keyframes dd3 {
  50% {
    background-position: Calc(-75vw) 50%;
  }
}
@keyframes dd4 {
  50% {
    background-position: Calc(-110vw) 50%;
  }
}